@font-face {
  font-family: "Sniglet";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Sniglet/Sniglet-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Bangers";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Bangers/Bangers-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Alegreya/Alegreya-Regular.ttf) format("truetype");
  font-display: swap;
}

:root {
  --font-title: "Sniglet", sans-serif;
  --font-heading: "Sniglet", sans-serif;
  --font-text: sans-serif;
  --title-size: 36px;
  --heading-size: 22px;
  --text-size: 18px;
  --max-width: 600px;
  --nav-height: 8vh;
}

@media screen and (min-width: 600px) {
  :root {
    --nav-height: 50px;
    --title-size: 42px;
    --heading-size: 27px;
    --text-size: 20px;
  }

  .screenshots img {
    max-height: 500px;
  }
}

@media screen and (min-height: 600px) {
  #contact {
    padding-bottom: 50px;
  }
}

/* Global settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  max-width: var(--max-width);
}

body {
  font-family: var(--font-text);
  font-size: var(--text-size);
}

h1,
h2 {
  font-family: var(--font-heading);
  text-align: center;
}

h1 {
  font-size: var(--title-size);
}

h2 {
  font-size: var(--heading-size);
}

p {
  line-height: 1.3;
}

a {
  cursor: pointer;
  text-decoration: none;
}

hr {
  border: 1px solid black;
  border-radius: 40%;
  width: 10rem;
}

/* Navigation */
.navigation {
  align-items: center;
  background-color: black;
  display: flex;
  height: var(--nav-height);
  max-width: var(--max-width);
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}
.navigation ul li {
  padding: 0;
}
.navigation ul li a {
  color: whitesmoke;
  display: block;
}

/* Hero */
#hero {
  margin: 0;
  padding: calc(var(--nav-height) + 2vh) 0 3vh 0;
}

.hero h1 {
  font-family: var(--font-title);
  font-size: var(--title-size);
  margin: 1rem 0 0 0;
}

.hero hr {
  border-color: rgb(34, 134, 34);
}

/* About */
.about {
  background-color: black;
  color: white;
  padding: var(--nav-height) 1rem 1rem 1rem;
}

.about h1 {
  font-size: var(--title-size);
  margin: 0;
}

.about hr {
  border-color: yellow;
}

.about p {
  margin: 2rem auto;
}

/* Projects */
#skew h1 {
  font-family: "Bangers", cursive;
}

#treblebase h1 {
  font-family: "Roboto", sans-serif;
}

#rpg h1 {
  font-family: "Alegreya", serif;
}

.h1__projects {
  margin: 0;
  padding: calc(var(--nav-height) + 1rem) 0 0 0;
}

.projects hr {
  border-color: purple;
  margin: 1rem auto;
}

.project {
  /* background-color: rgb(241, 241, 241); */
  margin: 1rem 0;
  padding: 1rem 0;
}

.project h1 {
  background-color: white;
  box-shadow: 3px 3px 3px lightgrey;
  border: 3px solid black;
  font-size: var(--title-size);
  margin: 1rem auto;
  max-width: fit-content;
  padding: 1rem 3rem;
}

.project-description {
  line-height: 1.4;
  padding: 1rem;
  text-align: center;
}

.screenshots {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.screenshots video {
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 60vh;
}

.project__links {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.project__links a {
  border: 5px solid purple;
  border-radius: 20px;
  background-color: purple;
  color: white;
  display: block;
  font-family: var(--font-heading);
  letter-spacing: 0.75px;
  margin: 0 0.75rem;
  padding: 1rem;
  text-align: center;
  width: 130px;
}
.project__links a:hover {
  background-color: white;
  color: purple;
}

.projects:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.heroku_note {
  margin: 2rem 0;
  text-align: center;
}

.tech-used {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.tech-used img {
  display: inline-block;
  margin: 0 0.5rem;
}

/* Contact Form */
.contact {
  background-color: black;
  color: white;
  margin: 0;
}

.contact h1 {
  margin: 0;
  padding: var(--nav-height) 0.25rem 0 0.25rem;
}

.contact hr {
  border-color: orangered;
}

.form__contact {
  margin-top: 2rem;
}

.form__contact fieldset {
  border: none;
  padding: 1rem;
}

.form__contact legend {
  font-family: var(--font-heading);
  font-size: var(--heading-size);
  text-align: center;
}

.form__contact input[type="submit"] {
  background-color: orangered;
  border: 2px solid orangered;
  color: white;
  cursor: pointer;
  font-family: var(--font-heading);
  font-size: var(--heading-size);
  padding: 1rem;
  width: 100%;
}

/* Footer */
footer {
  background-color: black;
  padding: 2rem 0;
  text-align: center;
}

footer a {
  color: white;
}
