:root {
  --font-title: "Roboto", sans-serif;
  --font-heading: "Open Sans", sans-serif;
  --font-text: "Open Sans", sans-serif;
  --hero-size: 40px;
  --title-size: 38px;
  --heading-size: 22px;
  --nav-text-size: 20px;
  --text-size: 18px;
  --nav-height: 4rem;
  --main-height: calc(100vh - var(--nav-height));
  --bg-color-1: rgb(101, 104, 248);
  --bg-color-2: rgb(83, 141, 248);
  --font-color: white;
  --accent-color: orangered;
  --link-color: rgb(251, 255, 0);
  --button-color: orangered;
}
/* Global settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom,
    var(--bg-color-1),
    var(--bg-color-2)
  );
  background-repeat: no-repeat;
  color: var(--font-color);
  font-family: var(--font-text);
  font-size: var(--text-size);
  margin: 0;
}
h1 {
  font-family: var(--font-title);
  font-size: var(--title-size);
  text-align: center;
}
h2 {
  font-family: var(--font-heading);
  font-size: var(--heading-size);
  text-align: center;
}
p {
  line-height: 1.3;
}
a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}
hr {
  border: 1px solid black;
  border-radius: 40%;
  width: 10rem;
}
.hidden {
  display: none !important;
}
/* Navigation */
header {
  width: 100%;
}
.navigation {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
#nav-menu {
  display: flex;
  font-size: var(--nav-text-size);
  height: var(--nav-height);
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#nav-menu li {
  align-content: center;
  display: flex;
  height: inherit;
  justify-content: center;
  width: 100px;
}
.nav-link {
  cursor: pointer;
  font-family: var(--font-heading);
  height: max-content;
  padding-bottom: 0.25rem;
  text-align: center;
}
.nav-active {
  border-bottom: 0.25rem solid var(--accent-color);
}
/* Home */
.home {
  height: var(--main-height);
}
.home a {
  color: var(--font-color);
}
.business-card {
  display: flex;
  flex-direction: column;
}
.business-card h1 {
  font-weight: bold;
  margin: 2rem 0 2.5rem 0;
}
.business-card h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#title1 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
#title2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.business-card hr {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  border-color: var(--font-color);
  margin: 1rem auto;
  width: 10rem;
}
.wrap__contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.btn__contact {
  border: 2px solid lightgray;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0.75rem 0;
  padding: 0.25em 0.5em;
  width: 175px;
}
.btn__contact:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}
.btn__contact > * {
  pointer-events: none;
}
.btn__contact img {
  align-self: center;
  justify-self: center;
  margin: 0.25em;
}
.btn__contact p {
  align-self: center;
  margin: 0 0 0 0.25em;
}
#email {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
#github {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  animation-delay: 2.25s;
}
#linkedin {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
/* About */
.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}
.about h2 {
  font-family: var(--font-text);
}
.headshot {
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  max-height: 200px;
  max-width: 200px;
}
.bio {
  margin: 1rem;
}
/* Projects */
#navigate-projects {
  align-items: center;
  display: flex;
  justify-content: center;
}
#navigate-projects button {
  border: none;
  height: 40px;
  margin: 0 1rem;
  width: 40px;
}
#previous {
  background: url(../assets/icons/arrow-left.svg);
  background-repeat: no-repeat;
}
#next {
  background: url(../assets/icons/arrow-right.svg);
  background-repeat: no-repeat;
}
.project {
  text-align: center;
}
.project-description {
  margin: 1rem 2rem;
}
.screenshots {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.screenshots video {
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 60vh;
}
.project__links {
  align-items: center;
  display: flex;
  justify-content: center;
}
.project__links a {
  background-color: white;
  border-radius: 10px;
  color: black;
  border: 3px solid lightgray;
  margin: 0 0.75rem;
  padding: 1rem;
  width: 150px;
}
.project__links a:hover {
  background-color: white;
  border: 3px solid var(--accent-color);
  color: black;
}
.heroku_note {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}
.tech-used {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem;
}
.tech-used img {
  display: inline-block;
  margin: 0 0.25rem;
}
/* General - Landscape */
@media only screen and (orientation: landscape) {
  .about {
    flex-direction: row;
    max-width: 800px;
    font-size: 22px;
  }
  .headshot {
    margin: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .about {
    flex-direction: row;
  }
  .headshot {
    flex-basis: 30rem;
  }
  .bio {
    flex-basis: 2;
  }
}
/* Mobile - Landscape */
@media only screen and (min-width: 321px) and (orientation: landscape) {
  .screenshots video {
    height: 350px;
  }
}
/* Tablet - General */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :root {
    --hero-size: 60px;
    --title-size: 56px;
    --heading-size: 32px;
    --nav-text-size: 30px;
    --text-size: 22px;
    --nav-height: 6rem;
  }
  body {
    height: 100%;
    width: 100vw;
  }
  #nav-menu li {
    width: 150px;
  }
  .headshot {
    height: 300px;
    margin: 1rem;
  }
}
/* Tablet - Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  main {
    height: calc(fit-content - var(--nav-height));
  }
}
/* Desktop */
@media only screen and (min-device-width: 1024px) and (orientation: landscape) {
  :root {
    --hero-size: 80px;
    --title-size: 56px;
    --heading-size: 32px;
    --nav-text-size: 30px;
    --text-size: 24px;
    --nav-height: 6rem;
  }
  body {
    margin: 0 auto;
    max-width: 1200px;
  }
  #nav-menu li {
    width: 150px;
  }
  .wrap__contacts {
    flex-direction: row;
  }
  .btn__contact {
    margin: 1rem;
  }
  .btn__contact p {
    font-size: 22px;
  }
  .headshot {
    height: 300px;
  }
  .bio {
    max-width: 50vw;
  }
  .project p {
    margin: 1rem auto;
    max-width: 50%;
  }
  .project__links a {
    width: fit-content;
  }
  .screenshots video {
    height: 600px;
  }
}
